CategoryHeader {
    background: rgb(50, 50, 55)
}

QTreeView::branch:!has-children:!has-siblings:adjoins-item {
    border-image: url(:/resources/icon-paired-32.png) 0;
}

QTreeView::branch:has-siblings:adjoins-item {
    border-image: url(:/resources/icon-paired-32.png) 0;
}

QTreeView::branch:open:has-children:!has-siblings,
QTreeView::branch:open:has-children:has-siblings  {
        border-image: none;
        image: url(:/resources/icon-paired-32.png);
}
